<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ExaminationWeb_Url" value="http://test-tj.xiniu.com/" />
    <!--抓取最大数-->
    <add key="LinkAmountLimit" value="500" />
    <add key="IsDebug" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.80.0" newVersion="1.0.80.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v2.0.50727" /></startup></configuration>
